<ul >
  {{#events}}
    <li>
        <h2>{{ title }}</h2>
        <div>What: {{ description }}</div>
        <div>When: {{ event_time }}</div>
        <div>Where: {{ location }}</div>
        <div>Likes: {{ likes }}</div>
    </li>
  {{/events}}
</ul>